# Programming and Data Analysis

> Final

Kuo, Yao-Jen <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

In [ ]:
import json
import numpy as np
import pandas as pd

## Instructions

- The assignment will be disconnected if idling over 10 minutes, we can reactivate a new session by clicking the assignment link again.
- We've imported necessary modules at the top of each assignment.
- We've put necessary files(if any) in the working directory.
- We've defined the names of functions/inputs/parameters for you.
- Write down your solution between the comments `### BEGIN SOLUTION` and `### END SOLUTION`.
- It is NECESSARY to `return` the answer, tests will fail by just printing out the answer.
- It is known that errors like `SyntaxError` or `IndentationError` breaks our `test_runner.py` and results in a zero point grade. It is highly recommended testing your solution by calling functions/methods in notebook or running tests before submission.
- Running tests to see if your solutions are right:
    - File -> Save Notebook to save `final.ipynb`.
    - File -> New -> Terminal to open a Terminal.
    - Use command `python test_runner.py` to run test.
- When you are ready to submit, click File -> Export Notebook As -> Executable Script.
- Rename the exported Python script with your student ID(e.g. `b01234567.py`) and upload to the Assignment session on NTU COOL/NTNU Moodle.

## 01. Define a function `find_the_best_two_teams()` which returns the best 2 teams in the western conference and the eastern conference, respectively. Look into the `["league"]["standard"]` and `confRank == "1"` attributes in `standings_all.json` and `teams.json` for answer.

In [ ]:
def find_the_best_two_teams() -> tuple:
    """
    >>> best_team_in_west, best_team_in_east = find_the_best_two_teams()
    >>> type(best_team_in_west)
    dict
    >>> type(best_team_in_east)
    dict
    >>> best_team_in_west["teamId"]
    '1610612744'
    >>> best_team_in_east["teamId"]
    '1610612741'
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 02. Define a function `find_the_worst_two_teams()` which returns the worst 2 teams in the western conference and the eastern conference, respectively. Look into the `["league"]["standard"]` and `confRank == "15"` attributes in `standings_all.json` and `teams.json` for answer.

In [ ]:
def find_the_worst_two_teams() -> tuple:
    """
    >>> worst_team_in_west, worst_team_in_east = find_the_worst_two_teams()
    >>> type(worst_team_in_west)
    dict
    >>> type(worst_team_in_east)
    dict
    >>> worst_team_in_west["teamId"]
    '1610612745'
    >>> worst_team_in_east["teamId"]
    '1610612753'
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 03. Define a function named `extract_current_standings` which extracts the team standings given `standings_all.json`. Look into the `["league"]["standard"]` in `standings_all.json` for answer. Make sure the number of wins/losses are able to perform numeric operations.

```
        teamId  homeWin  homeLoss  awayWin  awayLoss  win  loss
0   1610612744       18         3       12         6   30     9
1   1610612756       17         5       13         4   30     9
2   1610612741       14         4       12         7   26    11
3   1610612762       14         7       14         6   28    13
4   1610612763       14         8       14         6   28    14
5   1610612751       11        10       14         4   25    14
6   1610612748       12         4       13        11   25    15
7   1610612749       13         7       13        10   26    17
8   1610612755        8         8       15         8   23    16
9   1610612739       11         9       12         9   23    18
10  1610612742       11         8       11        10   22    18
11  1610612761       12        10        8         7   20    17
12  1610612766       12         5       10        14   22    19
13  1610612743        9         7       11        11   20    18
14  1610612747       14        11        7         9   21    20
15  1610612750       11        10        9        10   20    20
16  1610612764       10         7       10        13   20    20
17  1610612738       13         8        7        13   20    21
18  1610612746       13        12        7         9   20    21
19  1610612752       10        11       10        10   20    21
20  1610612737        8         9        9        13   17    22
21  1610612757       14        11        2        13   16    24
22  1610612759        7        10        8        15   15    25
23  1610612758       10        14        6        13   16    27
24  1610612754       12        10        3        16   15    26
25  1610612740        8        11        6        15   14    26
26  1610612760        8        13        5        13   13    26
27  1610612745        7        13        4        18   11    31
28  1610612765        6        13        3        17    9    30
29  1610612753        2        15        5        19    7    34
```

In [ ]:
def extract_current_standings() -> pd.core.frame.DataFrame:
    """
    >>> current_standings = extract_current_standings()
    >>> type(current_standings)
    pandas.core.frame.DataFrame
    >>> current_standings.shape
    (30, 7)
    >>> (current_standings['win'] == current_standings['homeWin'] + current_standings['awayWin']).sum()
    30
    >>> (current_standings['loss'] == current_standings['homeLoss'] + current_standings['awayLoss']).sum()
    30
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 04. Define a function `find_the_best_and_worst_team_roster()` which finds out the current team roster of the best 2 teams and the worst 2 teams based on previous 2 questions. Look into the `["league"]["standard"]` and `["teamId"]` attributes in `players.json` and `teams.json` for answer.

```
            city  nickname   teamStanding  firstName          lastName
0        Orlando     Magic  Worst in East       Cole           Anthony
1        Orlando     Magic  Worst in East         Mo             Bamba
2        Orlando     Magic  Worst in East      Ignas        Brazdeikis
3        Orlando     Magic  Worst in East    Wendell        Carter Jr.
4        Orlando     Magic  Worst in East    Michael   Carter-Williams
..           ...       ...            ...        ...               ...
63  Golden State  Warriors   Best in West       Klay          Thompson
64  Golden State  Warriors   Best in West       Juan  Toscano-Anderson
65  Golden State  Warriors   Best in West  Quinndary      Weatherspoon
66  Golden State  Warriors   Best in West     Andrew           Wiggins
67  Golden State  Warriors   Best in West      James           Wiseman

[68 rows x 5 columns]
```

In [ ]:
def find_the_best_and_worst_team_roster() -> pd.core.frame.DataFrame:
    """
    >>> the_best_and_worst_team_roster = find_the_best_and_worst_team_roster()
    >>> type(the_best_and_worst_team_roster)
    pandas.core.frame.DataFrame
    >>> the_best_and_worst_team_roster.shape
    (68, 5)
    >>> the_best_and_worst_team_roster["city"].unique()
    array(['Orlando', 'Houston', 'Chicago', 'Golden State'], dtype=object)
    >>> the_best_and_worst_team_roster["nickname"].unique()
    array(['Magic', 'Rockets', 'Bulls', 'Warriors'], dtype=object)
    >>> the_best_and_worst_team_roster["teamStanding"].unique()
    array(['Worst in East', 'Worst in West', 'Best in East', 'Best in West'],
          dtype=object)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 05. Define a function `calculate_confirmed_death_rate_by_countries` according to the following formula according to `01-10-2022.csv` and `UID_ISO_FIPS_LookUp_Table.csv`.

$$
\text{Death Rate} = \frac{\text{Deaths}}{\text{Confirmed}} \\
\text{Confirmed Rate} = \frac{\text{Confirmed}}{\text{Population}}
$$

```
         Country_Region  Confirmed  Deaths  Population  Confirmed_Rate  \
0           Afghanistan     158394    7373  38928341.0        0.004069   
1               Albania     220487    3241   2877800.0        0.076617   
2               Algeria     222639    6349  43851043.0        0.005077   
3               Andorra      27983     141     77265.0        0.362169   
4                Angola      90316    1832  32866268.0        0.002748   
..                  ...        ...     ...         ...             ...   
191             Vietnam    1914393   34531  97338583.0        0.019667   
192  West Bank and Gaza     472910    4987   5101416.0        0.092702   
193               Yemen      10197    1986  29825968.0        0.000342   
194              Zambia     284389    3817  18383956.0        0.015469   
195            Zimbabwe     223000    5180  14862927.0        0.015004   

     Death_Rate  
0      0.046548  
1      0.014699  
2      0.028517  
3      0.005039  
4      0.020284  
..          ...  
191    0.018038  
192    0.010545  
193    0.194763  
194    0.013422  
195    0.023229  

[196 rows x 6 columns]
```

In [ ]:
def calculate_confirmed_death_rate_by_countries() -> pd.core.frame.DataFrame:
    """
    >>> confirmed_death_rate_by_countries = calculate_confirmed_death_rate_by_countries()
    >>> type(confirmed_death_rate_by_countries)
    pandas.core.frame.DataFrame
    >>> confirmed_death_rate_by_countries.shape
    (196, 6)
    >>> confirmed_death_rate_by_countries[confirmed_death_rate_by_countries["Country_Region"] == "Taiwan*"]
        Country_Region  Confirmed  Deaths  Population  Confirmed_Rate  Death_Rate
    172        Taiwan*      17394     850  23816775.0         0.00073    0.048867
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 06. Define a function `calculate_daily_cases()` which calculates the daily cases of a country given `time_series_covid19_confirmed_global.csv` and `time_series_covid19_deaths_global.csv`.

```
           Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
Date                                                                       
2020-01-22        Taiwan*          1       0              NaN           NaN
2020-01-23        Taiwan*          1       0              0.0           0.0
2020-01-24        Taiwan*          3       0              2.0           0.0
2020-01-25        Taiwan*          3       0              0.0           0.0
2020-01-26        Taiwan*          4       0              1.0           0.0
...                   ...        ...     ...              ...           ...
2022-01-06        Taiwan*      17198     850             43.0           0.0
2022-01-07        Taiwan*      17258     850             60.0           0.0
2022-01-08        Taiwan*      17302     850             44.0           0.0
2022-01-09        Taiwan*      17362     850             60.0           0.0
2022-01-10        Taiwan*      17394     850             32.0           0.0

[720 rows x 5 columns]
```

```
           Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
Date                                                                       
2020-01-22          Japan          2       0              NaN           NaN
2020-01-23          Japan          2       0              0.0           0.0
2020-01-24          Japan          2       0              0.0           0.0
2020-01-25          Japan          2       0              0.0           0.0
2020-01-26          Japan          4       0              2.0           0.0
...                   ...        ...     ...              ...           ...
2022-01-06          Japan    1741837   18395           4297.0           1.0
2022-01-07          Japan    1747907   18396           6070.0           1.0
2022-01-08          Japan    1756209   18398           8302.0           2.0
2022-01-09          Japan    1764280   18399           8071.0           1.0
2022-01-10          Japan    1770545   18401           6265.0           2.0

[720 rows x 5 columns]
```

```
           Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
Date                                                                       
2020-01-22             US          1       0              NaN           NaN
2020-01-23             US          1       0              0.0           0.0
2020-01-24             US          2       0              1.0           0.0
2020-01-25             US          2       0              0.0           0.0
2020-01-26             US          5       0              3.0           0.0
...                   ...        ...     ...              ...           ...
2022-01-06             US   58487854  833990         786861.0        1870.0
2022-01-07             US   59388686  836605         900832.0        2615.0
2022-01-08             US   59767418  837266         378732.0         661.0
2022-01-09             US   60074710  837596         307292.0         330.0
2022-01-10             US   61558085  839500        1483375.0        1904.0

[720 rows x 5 columns]
```

In [ ]:
def calculate_daily_cases(country_name: str) -> pd.core.frame.DataFrame:
    """
    >>> tw_daily_cases = calculate_daily_cases("Taiwan*")
    >>> type(tw_daily_cases)
    pandas.core.frame.DataFrame
    >>> tw_daily_cases.shape
    (720, 5)
    >>> jp_daily_cases = calculate_daily_cases("Japan")
    >>> type(jp_daily_cases)
    pandas.core.frame.DataFrame
    >>> jp_daily_cases.shape
    (720, 5)
    >>> us_daily_cases = calculate_daily_cases("US")
    >>> type(us_daily_cases)
    pandas.core.frame.DataFrame
    >>> us_daily_cases.shape
    (720, 5)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 07. Define a class `CountryCovidStatus` which instantiates objects with 2 methods `get_snapshot()` and `get_recent_two_week_trend()`.

In [ ]:
class CountryCovidStatus:
    """
    >>> tw_covid_status = CountryCovidStatus("Taiwan*")
    >>> tw_covid_status.get_snapshot()
        Country_Region  Confirmed  Deaths  Population  Confirmed_Rate  Death_Rate
    172        Taiwan*      17394     850  23816775.0         0.00073    0.048867
    >>> tw_covid_status.get_recent_two_week_trend()
               Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
    Date                                                                       
    2021-12-28        Taiwan*      16950     850             19.0           0.0
    2021-12-29        Taiwan*      16964     850             14.0           0.0
    2021-12-30        Taiwan*      16988     850             24.0           0.0
    2021-12-31        Taiwan*      17029     850             41.0           0.0
    2022-01-01        Taiwan*      17050     850             21.0           0.0
    2022-01-02        Taiwan*      17070     850             20.0           0.0
    2022-01-03        Taiwan*      17095     850             25.0           0.0
    2022-01-04        Taiwan*      17129     850             34.0           0.0
    2022-01-05        Taiwan*      17155     850             26.0           0.0
    2022-01-06        Taiwan*      17198     850             43.0           0.0
    2022-01-07        Taiwan*      17258     850             60.0           0.0
    2022-01-08        Taiwan*      17302     850             44.0           0.0
    2022-01-09        Taiwan*      17362     850             60.0           0.0
    2022-01-10        Taiwan*      17394     850             32.0           0.0
    >>> jp_covid_status = CountryCovidStatus("Japan")
    >>> jp_covid_status.get_snapshot()
       Country_Region  Confirmed  Deaths   Population  Confirmed_Rate  Death_Rate
    87          Japan    1770545   18401  252643406.0        0.007008    0.010393
    >>> jp_covid_status.get_recent_two_week_trend()
               Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
    Date                                                                       
    2021-12-28          Japan    1731048   18385            313.0           2.0
    2021-12-29          Japan    1731446   18389            398.0           4.0
    2021-12-30          Japan    1731878   18389            432.0           0.0
    2021-12-31          Japan    1732296   18389            418.0           0.0
    2022-01-01          Japan    1732752   18389            456.0           0.0
    2022-01-02          Japan    1733229   18391            477.0           2.0
    2022-01-03          Japan    1733901   18392            672.0           1.0
    2022-01-04          Japan    1735050   18393           1149.0           1.0
    2022-01-05          Japan    1737540   18394           2490.0           1.0
    2022-01-06          Japan    1741837   18395           4297.0           1.0
    2022-01-07          Japan    1747907   18396           6070.0           1.0
    2022-01-08          Japan    1756209   18398           8302.0           2.0
    2022-01-09          Japan    1764280   18399           8071.0           1.0
    2022-01-10          Japan    1770545   18401           6265.0           2.0
    >>> us_covid_status = CountryCovidStatus("US")
    >>> us_covid_status.get_snapshot()
        Country_Region  Confirmed  Deaths   Population  Confirmed_Rate  Death_Rate
    182             US   61558085  839500  994135109.0        0.061921    0.013638
    >>> us_covid_status.get_recent_two_week_trend()
               Country/Region  Confirmed  Deaths  Daily_Confirmed  Daily_Deaths
    Date                                                                       
    2021-12-28             US   53182317  821586         354683.0        2295.0
    2021-12-29             US   53679320  823783         497003.0        2197.0
    2021-12-30             US   54269867  825195         590547.0        1412.0
    2021-12-31             US   54742382  825778         472515.0         583.0
    2022-01-01             US   54858824  826045         116442.0         267.0
    2022-01-02             US   55106998  826289         248174.0         244.0
    2022-01-03             US   56278376  827977        1171378.0        1688.0
    2022-01-04             US   57077603  830134         799227.0        2157.0
    2022-01-05             US   57700993  832120         623390.0        1986.0
    2022-01-06             US   58487854  833990         786861.0        1870.0
    2022-01-07             US   59388686  836605         900832.0        2615.0
    2022-01-08             US   59767418  837266         378732.0         661.0
    2022-01-09             US   60074710  837596         307292.0         330.0
    2022-01-10             US   61558085  839500        1483375.0        1904.0
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 08. Define a function `import_all_sheets` which imports all 3 sheets in `imdb.xlsx` as `DataFrame` and stores in a `dict`.

In [ ]:
def import_all_sheets() -> dict:
    """
    >>> all_sheets = import_all_sheets()
    >>> type(all_sheets)
    dict
    >>> len(all_sheets)
    3
    >>> all_sheets["movies"].shape
    (250, 6)
    >>> all_sheets["casting"].shape
    (3584, 3)
    >>> all_sheets["actors"].shape
    (3108, 2)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 09. Define a function `find_movie_by_actor_name` which finds movies by actor based on `imdb.xlsx`. You may refer to the relationship between the three sheets by viewing their entity relationship.

![](imdb_erd.png)

In [ ]:
def find_movie_by_actor_name(*args) -> pd.core.frame.DataFrame:
    """
    >>> find_movie_by_actor_name("Tom Hanks")
            id                title  release_year  rating          director  \
    11    12.0         Forrest Gump        1994.0     8.8   Robert Zemeckis   
    25    26.0  Saving Private Ryan        1998.0     8.6  Steven Spielberg   
    26    27.0       The Green Mile        1999.0     8.6    Frank Darabont   
    81    82.0            Toy Story        1995.0     8.3     John Lasseter   
    111  112.0          Toy Story 3        2010.0     8.2       Lee Unkrich   
    188  189.0  Catch Me If You Can        2002.0     8.1  Steven Spielberg   

         runtime  
    11     142.0  
    25     169.0  
    26     189.0  
    81      81.0  
    111    103.0  
    188    141.0 
    >>> find_movie_by_actor_name("Leonardo DiCaprio")
            id                    title  release_year  rating           director  \
    12    13.0                Inception        2010.0     8.8  Christopher Nolan   
    41    42.0             The Departed        2006.0     8.5    Martin Scorsese   
    56    57.0         Django Unchained        2012.0     8.4  Quentin Tarantino   
    139  140.0  The Wolf of Wall Street        2013.0     8.2    Martin Scorsese   
    150  151.0           Shutter Island        2010.0     8.2    Martin Scorsese   
    188  189.0      Catch Me If You Can        2002.0     8.1   Steven Spielberg   

         runtime  
    12     148.0  
    41     151.0  
    56     165.0  
    139    180.0  
    150    138.0  
    188    141.0
    >>> find_movie_by_actor_name("Tom Hanks", "Leonardo DiCaprio")
            id                    title  release_year  rating           director  \
    11    12.0             Forrest Gump        1994.0     8.8    Robert Zemeckis   
    12    13.0                Inception        2010.0     8.8  Christopher Nolan   
    25    26.0      Saving Private Ryan        1998.0     8.6   Steven Spielberg   
    26    27.0           The Green Mile        1999.0     8.6     Frank Darabont   
    41    42.0             The Departed        2006.0     8.5    Martin Scorsese   
    56    57.0         Django Unchained        2012.0     8.4  Quentin Tarantino   
    81    82.0                Toy Story        1995.0     8.3      John Lasseter   
    111  112.0              Toy Story 3        2010.0     8.2        Lee Unkrich   
    139  140.0  The Wolf of Wall Street        2013.0     8.2    Martin Scorsese   
    150  151.0           Shutter Island        2010.0     8.2    Martin Scorsese   
    188  189.0      Catch Me If You Can        2002.0     8.1   Steven Spielberg   

         runtime  
    11     142.0  
    12     148.0  
    25     169.0  
    26     189.0  
    41     151.0  
    56     165.0  
    81      81.0  
    111    103.0  
    139    180.0  
    150    138.0  
    188    141.0
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 10. Define a function `create_trilogy_dataframe` which integrates the information provided by `imdb.xlsx` and creates a `DataFrame` of famous trilogies "The Lord of the Rings" directed by Peter Jackson and "The Dark Knight" directed by Christopher Nolan. You may refer to the relationship between the three sheets by viewing their entity relationship.

![](imdb_erd.png)

```
                                    title           director  \
0                           Batman Begins  Christopher Nolan   
1                           Batman Begins  Christopher Nolan   
2                           Batman Begins  Christopher Nolan   
3                           Batman Begins  Christopher Nolan   
4                           Batman Begins  Christopher Nolan   
..                                    ...                ...   
85  The Lord of the Rings: The Two Towers      Peter Jackson   
86  The Lord of the Rings: The Two Towers      Peter Jackson   
87  The Lord of the Rings: The Two Towers      Peter Jackson   
88  The Lord of the Rings: The Two Towers      Peter Jackson   
89  The Lord of the Rings: The Two Towers      Peter Jackson   

                actor  
0      Christian Bale  
1       Michael Caine  
2         Liam Neeson  
3        Katie Holmes  
4         Gary Oldman  
..                ...  
85      Calum Gittins  
86       Bernard Hill  
87      Bruce Hopkins  
88  Paris Howe Strewe  
89    Christopher Lee  

[90 rows x 3 columns]
```

In [ ]:
def create_trilogy_dataframe() -> pd.core.frame.DataFrame:
    """
    >>> trilogy_dataframe = create_trilogy_dataframe()
    >>> type(trilogy_dataframe)
    pandas.core.frame.DataFrame
    >>> trilogy_dataframe.shape
    (90, 3)
    >>> trilogy_dataframe["title"].nunique()
    6
    >>> trilogy_dataframe["director"].nunique()
    2
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION